name: Release

permissions:
  contents: write

on:
  push:
    tags:
      - v[0-9].[0-9]*.*

jobs:
  create-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: taiki-e/create-gh-release-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

  upload-assets:
    needs: create-release
    strategy:
      matrix:
        include:
          - target: x86_64-unknown-linux-musl
            os: ubuntu-latest
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: taiki-e/upload-rust-binary-action@v1
        with:
          bin: action-demo
          target: ${{ matrix.target }}
          tar: unix
          zip: windows
          include: README.md
          archive: $bin-$tag-${{ matrix.target}}
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: upload leancloud
        if: ${{matrix.target == 'x86_64-unknown-linux-musl'}}
        run: |
          mkdir ./target/leancloud
          cp ./target/x86_64-unknown-linux-musl/release/action-demo ./target/leancloud
          cd ./target/leancloud
          git init
          git config user.name github-actions[bot]
          git config user.email github-actions[bot]@users.noreply.github.com
          git add -A
          git commit -m "Initial commit for LeanCloud deployment"
          git branch -M leancloud
          git push https://${{secrets.PUSH_SECRET}}@github.com/${{github.repository}}.git leancloud:leancloud --force
      - name: Upload musl binary as artifact
        if: ${{matrix.target == 'x86_64-unknown-linux-musl'}}
        uses: actions/upload-artifact@v4
        with:
          name: musl-binary
          path: target/x86_64-unknown-linux-musl/release/waline-mini
          retention-days: 1

  docker:
    needs: upload-assets
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Download musl binary
        uses: actions/download-artifact@v4
        with:
          name: musl-binary
          path: ./target/x86_64-unknown-linux-musl/release/
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64
          push: true
          tags: |
            jqiue/action-demo:${{ github.ref_name }}
            jqiue/action-demo:latest
